html, body
{
	height: 100%;
	padding: 0;
	margin: 0;
}

body
{
	background-image: url("res/mountains.jpeg");
	background-size: cover;
	padding: 0%;
}

.ui.container
{
	height: 100%;
	margin-left: 0 !important;
}

#menu-button
{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

#content
{
	width: 50%;
	min-width: 500px;
	display: flex;
	flex-flow: column;
	background-color: rgba(1,1,1,0.9);
	color: #ffffff;
	height: 100%;
	padding: 5%;
	padding-bottom: 2%;
	overflow: auto;
}

#content-header
{
}

#content-body
{
	max-height: 80%;
	overflow: auto;
	flex-grow: 3;
}

#next-page
{
	text-align: center;
}


.slide-fade-enter-active {
	transition: all .3s ease;
}
.slide-fade-leave-active {
	transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
	/* .slide-fade-leave-active below version 2.1.8 */ {
	transform: translateX(-10px);
	opacity: 0;
}