html, body
{
	height: 100%;
	padding: 0;
	margin: 0;
}

body
{
	background-image: url("res/mountains.jpeg");
	background-size: cover;
	padding: 0%;
}

h1
{
	font-size: 8vmin;
}

p
{
	font-size: 3vmin;
}

.ui.container
{
	height: 100%;
	margin-left: 0 !important;
}

#menu
{
	background-color: rgba(1,1,1,0.6);
	color: white;
	display: flex;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

#menu div:hover
{
	background-color: rgba(1,1,1,0.4);
}

#content
{
	width: 80vh;
	display: flex;
	flex-flow: column;
	color: #ffffff;
	height: 100%;
	padding: 5%;
	padding-bottom: 2%;
	overflow: auto;
}

#content-body
{
	max-height: 80%;
	overflow: auto;
	flex-grow: 3;
}

#next-page
{
	text-align: center;
}

@media only screen
and (orientation: landscape){
	#menu{
		position: absolute;
		top: 50%;
		right: -2vw;
		min-width: 10vw;
		width: 15vw;
		padding-right: 2vw;
		transform: translateY(-50%);
		-webkit-border-radius: 2vw;
		-moz-border-radius: 2vw;
		border-radius: 2vw;
		flex-direction: column;
	}

	#menu div{
		display: flex;
		width: 100%;
		height: 25%;
		padding: 2%;
		margin: 1% 0;
		justify-content: center;
		align-items: center;
		font-size: 1.5vw;
	}

	#menu div:first-child{
		-webkit-border-radius: 2vw 0 0 0;
		-moz-border-radius: 2vw 0 0 0;
		border-radius: 2vw 0 0 0;
	}

	#menu div:last-child{
		-webkit-border-radius: 0 0 0 2vw;
		-moz-border-radius: 0 0 0 2vw;
		border-radius: 0 0 0 2vw;

	}

	#content{
		background-color: rgba(1,1,1,0.9);
	}
}



@media only screen
and (orientation: portrait) {
	#content {
		width: 100vw;
		height: 90%;
		background-color: rgba(1,1,1,0.8);
	}

	#menu
	{
		position: relative;
		height: 10vh;
		flex-direction: row;
	}

	#menu div
	{
		display: flex;
		height: 100%;
		width: 25%;
		padding: 2%;
		justify-content: center;
		align-items: center;
	}
}


.slide-fade-enter-active {
	transition: all .3s ease;
}
.slide-fade-leave-active {
	transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
	/* .slide-fade-leave-active below version 2.1.8 */ {
	transform: translateX(-10px);
	opacity: 0;
}
